.navbar {
    background-color: #ffffff;
    padding: 0 1rem;
    width:60%;
    margin-left: 20%;
}
.navbar-div{
    display: flex;
    justify-content: center;
    height: 10vh;
}
.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}
.navbar a.active {
    text-decoration: underline;
}
.navbar li:hover {
    background-color: #c5c5c5;
    border-radius: 20%;
}
.nav-links {
    list-style: none;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
